# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django
db.sqlite3
*.log
staticfiles/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/
